body{
    /* background:linear-gradient(-45deg,#5F236B,#BE375F,#ED8554,#F5EB6D); */
    background:linear-gradient(-45deg,#313866,#50409A,#964EC2,#FF7BBF); 
    color: white;
    background-attachment: fixed;
}
marquee{
    margin: 0 !important;
}

.x{
    background-color: black;
    opacity: 0.3;
}

select option {    
    background: #964EC2;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

textarea,select,input{
    color: white !important;
}

.custom-file-label{
    background: transparent!important;
    color: white;
}

.custom-file-input{
    background: transparent !important;
}

textarea,input:focus,select:focus{
    background: transparent!important;
}

form{
    border-radius: 15px;
    padding: 20px;
}

.form-control{
    border-radius: 10px;
    background:transparent;
}

input::placeholder{
    color: white !important;
    opacity: 1;
}

.btn{
    border: 1px solid white ;
    transition-property: all;
    transition-duration: 1s;
}

.btn:hover{
    background: linear-gradient(-45deg,#313866,#50409A,#964EC2,#FF7BBF);
    box-shadow: 5px 5px black;
}

input::-webkit-calendar-picker-indicator { background: transparent;}
/* input::-webkit-inner-spin-button { display: none; } */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}